# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Generated Data
cleaned_data/
